@model ProjectManagementSystem.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectCode }, new { @class = "btn btn-info mr-3" }) |
    @Html.ActionLink("Back to List", "Projects", "Project", new { @class = "btn btn-primary" })
</div>
