@using ProjectManagementSystem.ViewModels
@model ProjectManagementSystem.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ProjectCode)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="mr-4">Project Manager: </label>
                <select asp-for="ProjectManagerId" asp-items="@ProjectViewModel.ProjectManagers">
                    <option selected value=@Model.ProjectManagerId>@Model.ProjectManager.Name  @Model.ProjectManager.Surname</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Projects", "Project", new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
